.Bavarian_Wheat_Beer { background-image: url('./multiple.png'); background-position: 0 0; width: 528px; height: 528px; }
.Apple { background-image: url('./multiple.png'); background-position: -528px 0; width: 528px; height: 528px; }
.Avocado { background-image: url('./multiple.png'); background-position: 0 -528px; width: 528px; height: 528px; }
.Baby_Bottle { background-image: url('./multiple.png'); background-position: -528px -528px; width: 528px; height: 528px; }
.Bacon { background-image: url('./multiple.png'); background-position: -1056px 0; width: 528px; height: 528px; }
.Banana_Split { background-image: url('./multiple.png'); background-position: -1056px -528px; width: 528px; height: 528px; }
.Banana { background-image: url('./multiple.png'); background-position: 0 -1056px; width: 528px; height: 528px; }
.Bar { background-image: url('./multiple.png'); background-position: -528px -1056px; width: 528px; height: 528px; }
.Bavarian_Beer_Mug { background-image: url('./multiple.png'); background-position: -1056px -1056px; width: 528px; height: 528px; }
.Bavarian_Pretzel { background-image: url('./multiple.png'); background-position: -1584px 0; width: 528px; height: 528px; }
.Asparagus { background-image: url('./multiple.png'); background-position: -1584px -528px; width: 528px; height: 528px; }
.Beer_Bottle { background-image: url('./multiple.png'); background-position: -1584px -1056px; width: 528px; height: 528px; }
.Beer_Can { background-image: url('./multiple.png'); background-position: 0 -1584px; width: 528px; height: 528px; }
.Beer { background-image: url('./multiple.png'); background-position: -528px -1584px; width: 528px; height: 528px; }
.Beet { background-image: url('./multiple.png'); background-position: -1056px -1584px; width: 528px; height: 528px; }
.Birthday_Cake { background-image: url('./multiple.png'); background-position: -1584px -1584px; width: 528px; height: 528px; }
.Bottle_of_Water { background-image: url('./multiple.png'); background-position: -2112px 0; width: 528px; height: 528px; }
.Bread { background-image: url('./multiple.png'); background-position: -2112px -528px; width: 528px; height: 528px; }
.Broccoli { background-image: url('./multiple.png'); background-position: -2112px -1056px; width: 528px; height: 528px; }
.Cabbage { background-image: url('./multiple.png'); background-position: -2112px -1584px; width: 528px; height: 528px; }
