.circular-clock { background-image: url('./solid.png'); background-position: 0 0; width: 512px; height: 512px; }
.add-contact { background-image: url('./solid.png'); background-position: -512px 0; width: 512px; height: 512px; }
.android { background-image: url('./solid.png'); background-position: 0 -512px; width: 512px; height: 512px; }
.bars-1 { background-image: url('./solid.png'); background-position: -512px -512px; width: 512px; height: 512px; }
.bars { background-image: url('./solid.png'); background-position: -1024px 0; width: 512px; height: 512px; }
.battery-1 { background-image: url('./solid.png'); background-position: -1024px -512px; width: 512px; height: 512px; }
.battery { background-image: url('./solid.png'); background-position: 0 -1024px; width: 512px; height: 512px; }
.briefcase { background-image: url('./solid.png'); background-position: -512px -1024px; width: 512px; height: 512px; }
.calendar { background-image: url('./solid.png'); background-position: -1024px -1024px; width: 512px; height: 512px; }
.cancel { background-image: url('./solid.png'); background-position: -1536px 0; width: 512px; height: 512px; }
.add { background-image: url('./solid.png'); background-position: -1536px -512px; width: 512px; height: 512px; }
.clock { background-image: url('./solid.png'); background-position: -1536px -1024px; width: 512px; height: 512px; }
.cloud { background-image: url('./solid.png'); background-position: 0 -1536px; width: 512px; height: 512px; }
.coins { background-image: url('./solid.png'); background-position: -512px -1536px; width: 512px; height: 512px; }
.copy-1 { background-image: url('./solid.png'); background-position: -1024px -1536px; width: 512px; height: 512px; }
.copy { background-image: url('./solid.png'); background-position: -1536px -1536px; width: 512px; height: 512px; }
.down-arrow { background-image: url('./solid.png'); background-position: -2048px 0; width: 512px; height: 512px; }
.download { background-image: url('./solid.png'); background-position: -2048px -512px; width: 512px; height: 512px; }
.edit { background-image: url('./solid.png'); background-position: -2048px -1024px; width: 512px; height: 512px; }
.expand { background-image: url('./solid.png'); background-position: -2048px -1536px; width: 512px; height: 512px; }
